doctype html
html
  head
    title basic banking System
    block scripts
    block style
     
  body
    nav#navbar
      ul
        li.item
          a(href='/') Home
        li.item
          a(href='/ViewCustomers') View Customers
        li.item
          a(href='') About Us
    
    block content